@{
    ViewData["Title"] = "Database";
}

<img src="~/img/aws_logo.png" style="max-width: 100px;" alt="AWS_logo" />
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to view your site's db connection.</p>
    <br />
    <h3>Product List</h3>
    <a asp-controller="product" asp-action="add">Add Product</a>
    <table align="center" border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var product in ViewBag.products)
        {
    <tr>
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Price</td>
        <td>@product.Quantity</td>
        <td>@product.Status</td>
        <td><a asp-controller="product" asp-action="edit" asp-route-id="@product.Id">Edit</a>
        |
        <a asp-controller="product" asp-action="delete" asp-route-id="@product.Id" onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
        }
    </table>
</div>
